:host
{
    // Set display mode
    display: block;

    // Set spacing
    margin: .5rem;
    padding: .5rem .8rem;

    // Create a modern look
    background: var(--nord1);
    border-radius: 10px;
}

// Create a smaller font for the description
p
{
    font-weight: 300;
    font-size: .9em;
}
